/* body {
    font-family: 'Lato',sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/background_v2.png') ;
    background-size: cover;
    background-repeat: no-repeat; 
  } */
  
  .glass-card-reset {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(30px);
      border-radius: 10px;
      padding: 20px;
      width: 700px;
    }
    
      /* .umLogo-container {
        display: flex;
        justify-content: center;
      } */
    
    .umLogo-reset-password {
      width: 170px;
      height: 130px;
    }
    
    .form-container{
      display: flex;
      justify-content: center;
    }
    
    .title   {
      text-align: center;
      font-size: 30px;
      margin-top: -10px;
      margin-bottom: 40px;
    }

    .desc-title{
    text-align: center;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 40px;
    }