
.glass-card-reset {
  background-color: rgba(255, 255, 255, 0.508);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  width: 700px;
}

.umLogo-reset-password {
  width: 170px;
  height: 130px;
}

.form-container{
  display: flex;
  justify-content: center;
}

.title   {
  text-align: center;
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.desc-title{
text-align: center;
font-size: 16px;
margin-top: -20px;
margin-bottom: 40px;
}